@import './../../styles/variables';

#root > [data-reactroot] { 

    .simulator.product {
        & .settings {

            & .container_simulator {
                height: 605px;
                padding: 20px;
                overflow-y: hidden;
                overflow-x: hidden;        
            }

            &__block {
                //padding: 0 5px;
                &:first-child {
                    display: flex;
                    flex: 0 0 62.5%;

                    & > .counter_with_icons {
                        margin-top: 0;
                        margin-right: 5px;
                        margin-bottom: 10px;
                        width: 50%;

                        & + .counter_with_icons {
                            margin-right: 0;
                            margin-left: 5px;
                        }
                    }
                }
            }

            &-salary {
                background: $soxo-blue-light;
                border-radius: 20px 20px;
                padding: 40px 30px 30px 30px;
                width: calc(100%);
                height: 100%;

                display: flex;
                flex-direction: column;


                .rc {
                    margin-top: 50px; 
                    &-slider-step {
                        top: 16px;
                    }
                }

                // CHROME
                .rc-slider-handle {
                    top: 4px;
                }

                // IE 11
                _:-ms-fullscreen, :root .rc-slider-handle {
                    top: 4px !important;
                }
                
                // FIREFOX
                _:-moz-tree-row(hover), .rc-slider-handle {
                    top: 4px !important;
                }
                
                // SAFARI
                _::-webkit-full-page-media, _:future, :root .rc-slider-handle {
                    top: 8px;
                }

                & .simulator-label {
                    text-align: center;
                    color: $soxo-blue-ocean;
                    max-width: 1000%;
                    padding: 0;
                    font-weight: 500;
                }
            }
        }

        & .results {

            &__full {
                & .doughnut  {
                    height: 275px;

                    &_content {
                        padding: 30px 0;
                        max-width: 150px;
                        max-height: 150px;
                    }
    
                    p.customTextTop {
                        font-size: 14px;
                    }
    
                    p.customTextBottom {
    
                        font-size: 14px;
                    }
                    
                    text.percentage {
                        font-size: 36px;
                        fill: #fff;
                        font-weight: $semi-bold;
                    }
                }
            }

            &-list {
                li + li {
                    margin-bottom: 20px;
                }
            }

            &-toggle {
                & .toggle {
                    font-size: 12px;
                }
            }

            &-more {
                display: flex;
                color: white;

                li {
                    flex: 0 0 40%;
                    
                    & + li {
                        flex: 0 0 60%;
                    }
                    & .results {
                        &-label {
                            font-size: 14px;
                            margin-bottom: 15px;
                            max-width: 160px;
                            line-height: 17px;
                        }

                        &-value {
                            font-size: 20px;
                            font-weight: $bold;

                            padding: 12px 12px 12px 0;
                        }

                        &-important {
                            background: $soxo-red;
                            border-radius: 12px 12px;
                            padding: 12px;
                            display: inline-flex;
                        }
                    }


                    &:first-child {
                        & .results {
                            &-label {
                                font-size: 14px;
                                margin-bottom: 15px;
                                max-width: 100px;
                                flex: wrap;
                            }
                        }
                    }
                }  
            }
        }
    }
}


// Usage
@media (max-width: $screen-md-max) { 
    #root > [data-reactroot] { 
        .simulator.product {
            & .settings {
                & .container_simulator {
                    height: 100%;
                    padding: 40px 16px 16px 16px;
                }

                &__block {
                    display: block;
                    &:first-child {
                        // display: flex;
                        flex: none;

                        & > .counter_with_icons {
                            margin-right: 5px;
                            flex: 0 0 calc(50% - 5px);
                        }

                        &  > .counter_with_icons + .counter_with_icons {
                            margin-left: 5px;
                        }
                    }
                }

                &-salary {
                    background: $soxo-blue-light;
                    border-radius: 10px 10px;
                    padding: 20px 30px 60px;
                    width: calc(100%);
                    height: auto;

                    display: block;

                    & .simulator-label {
                        text-align: center;
                        color: $soxo-blue-ocean;
                        max-width: 1000%;
                        padding: 0 0 40px 0;
                    }

                    .rc-slider {
                        margin-top: 30px;
                    }

                    // CHROME
                    .rc-slider-handle {
                        top: -5px;
                    }

                    // IE 11
                    _:-ms-fullscreen, :root .rc-slider-handle {
                        top: 4px !important;
                    }
                    
                    // FIREFOX
                    _:-moz-tree-row(hover), .rc-slider-handle {
                        top: -5px !important;
                    }
                    
                    // SAFARI
                    _::-webkit-full-page-media, _:future, :root .rc-slider-handle {
                        top: 8px;
                    }
                }


            }

            & .results {
                background: yellow;
                &-toggle {
                    & .toggle {
                        width: 136px;
                        font-size: 12px;


                        &:before {
                            width: 64px;
                        }

                        &-true,
                        &-false {
                            width: 64px;
                        }

                        &-checked {
                            &:before {
                                left: 64px;
                            }
                        }
                    }
                }
            
                &__mobile {
                    &_full {
                        & .doughnut  {
                            height: 180px;
                            margin: 15px 0;

                            svg {
                                margin: 0 auto;
                                left: calc(50% - 90px);
                                position: absolute;
                            }

                            &_content {
                                padding: 0;
                                max-width: 100px;
                                max-height: 100px;
                            }
        
                            p.customTextTop {
                                font-size: 25px;
                            }
        
                            p.customTextBottom {
                                font-size: 13px;
                            }

                            text.percentage {
                                font-size: 30px;
                                fill: #fff;
                                font-weight: $semi-bold;
                        }
                        }
                    }

                    background-color: $soxo-blue;
                    display: block;
                }
                
                &-more {
                    display: flex;
                    color: white;

                    li {
                        flex: 0 0 50%; 
                        & .results {
                            &-label {
                                font-size: 12px;
                                margin-bottom: 15px;
                                //max-width: 130px;
                                line-height: 17px;
                            }

                            &-value {
                                font-size: 14px;
                                font-weight: $bold;

                                padding: 12px 12px 12px 0;
                            }

                            &-important {
                                background: $soxo-red;
                                border-radius: 12px 12px;
                                padding: 12px;
                                display: inline-flex;
                            }
                        }


                        &:first-child {
                            & .results {
                                &-label {
                                    font-size: 12px;
                                    margin-bottom: 15px;
                                    max-width: auto;
                                    flex: wrap;
                                }
                            }
                        }
                    }  
                }
            }
        }
    }
}

