// Colors

$soxo-red: #ED424A;
$soxo-red-dark: #CE2A32;

$soxo-blue: #283896;
$soxo-blue2: #8977DE; //For VC Widget, cf SOXINT-618
$soxo-blue-dark: #2C2554;
$soxo-blue-dark2: #2F215D; //For VC Widget, cf SOXINT-618

$soxo-green: #00E4CB;

$soxo-blue-cyan: #6CDAC8;

$soxo-grey-light: #EAE6E3;
$soxo-grey: #D8D3CF;
$soxo-grey-dark: #4D4D4F;

$soxo-white: #FFF;
$soxo-black: #000;

//fix for a bootstrap bug
$link-color: $soxo-blue;


// Fonts
$font-sansapro: 'SansaPro', Helvetica, Arial, sans-serif;

// Height for nav and top page padding
$combined-nav-height: 60px;
$combined-nav-height-desktop: 60px;

// Padding block
$padding-block-sm: 20px;
$padding-block-md: 30px;
$padding-block-lg: 40px;

// override bootstrap breakpoints
$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        md-max: 1023px,
        lg: 1024px,
        lg-max: 1199px,
        xl: 1200px
);
