#wrapper-footer {
  padding: 0;
  margin: 0;
  font-size: 12px;

  .footer-top {
    text-align: center;
    color: #FFF;
    padding: 30px 0;
    width: 100%;
    background-color: $soxo-blue-dark;
    list-style: none;

    .footer-col {
      padding: 15px 0;
    }

    h2.widgettitle {
      font-size: 14px;
      font-weight: 400;
      text-transform: uppercase;
      margin-bottom: 15px;
    }

    ul {
      padding-left: 0;
      list-style-type: none;

      li {
        float: none;
        font-weight: 300;
        margin-bottom: 5px;

        a {
          padding: 0 5px;
          text-decoration: underline;
          font-size: 12px;
          color: #FFF;
        }
      }

      li#nav_menu-5 {
        margin-top: 15px;
      }
    }

    a.sociallink {
      i.footericon {
        color: $soxo-blue-dark;
      }
    }

    .btn-sodexo-footer {
      width: 100%;
      margin-top: 0;
      margin-bottom: 15px;
      background-color: transparent;
      border: 1px solid #FFF;

      i {
        font-size: 18px;
      }
    }

    .img-apps {
      a {
        display: inline-block;
        padding: 0;

        img {
          width: 45px;
        }
      }
    }

    .emailfooternewsletter {

      .input-group {

        .form-control {
          display: block;
          font-size: 14px;
          border: 0;
          border-top-left-radius: 19px;
          border-bottom-left-radius: 19px;
        }

        .input-group-btn {
          .btn {
            color: #FFF;
            background-color: $soxo-red;
            font-size: 14px;
            border: 0;
            border-top-right-radius: 19px;
            border-bottom-right-radius: 19px;
          }
        }
      }


      [type="checkbox"] {
        opacity: 0;
        position: absolute;

        &+label {
          color: $soxo-white;
          margin-top: 15px;
          margin-bottom: 0;
          align-items: flex-start;
          display: flex;

          a {
            color: $soxo-white;
            text-decoration: underline;
          }

          &:before {
            border: 3px solid $soxo-blue-dark;
            box-shadow: 0 0 0 1px #fff;
            content: "";
            display: inline-block;
            height: 14px;
            flex-grow: 0;
            flex-shrink: 0;
            margin-right: 8px;
            vertical-align: top;
            width: 14px;
          }
        }

        &:checked {
          &+label {
            &:before {
              background: #fff;
            }
          }
        }
      }

    }

    .lmt-panel {
      margin: 0;
      padding: 0;
      position: initial;
      display: inline-table;

      button {

        &:hover,
        &:focus {
          outline: none;
        }
      }
    }

    #contactPopinFooter {
      position: relative;
    }

    .layer-footer {
      z-index: 90;
      top: auto;
      left: 0;
      right: 0;
      bottom: calc(100% - 66px);
      width: 100%;
      transform: initial;
      max-width: 100%;

      &::before {
        position: absolute;
        top: 100%;
        right: auto;
        left: auto;
        @include triangle(down, 15px, 14px, $soxo-white);
        transform: translateY(0);
      }

      &::after {
        display: none;
      }
    }

  }

  .footer-bottom {
    padding: 10px 0;
    background-color: #FFF;

    .footer-bottom-menu {
      padding-bottom: 5px;
    }

    ul {
      margin: 0;
      padding: 0;

      li {
        border-right: 1px solid $soxo-red;

        &:last-child {
          border-right: 0;
        }

        &:first-child {
          a {
            padding-left: 0;
          }
        }

        a {
          font-size: 12px;
          color: $soxo-grey-dark;
          padding: 0 15px;
        }
      }
    }

    h3 {
      font-size: 18px;
      margin-bottom: 15px;
      text-transform: uppercase;
    }

    .date-copy {
      font-size: 12px;
      padding: 15px 0;
      text-align: center;
    }
  }

  .multilingue {
    text-align: center;

    @media screen and (max-width: 768px) {
      margin-top: 15px;
    }

    a {
      margin-right: 10px;
    }
  }

  .footer-last {
    border-top: 1px solid #eae6e3;
    padding: 15px 0;
    text-align: center;

    img.confianza {
      width: 186px;
    }
  }

  .btn-sodexo {
    .icon-envelop {
      &:before {
        margin-left: 0;
        width: 1.5em;
      }
    }
  }

  .fa-arrow-right {
    margin-right: 7px;
  }

  #return-to-top {
    position: fixed;
    bottom: 50px;
    right: 0;
    background: $soxo-red;
    width: 70px;
    height: 50px;
    display: block;
    text-decoration: none;
    border-radius: 20px 0 0 20px;
    display: none;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
  }

  #return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
  }

  #return-to-top:hover {
    background: rgba(206, 42, 50, .9);
  }

  #return-to-top:hover i {
    color: #fff;
    top: 40%;
  }
}

@include media-breakpoint-up(sm) {

  #wrapper-footer {
    .footer-top {
      .layer-footer {
        width: 370px !important;

        &.lmt-layer-quote {
          width: 500px !important;
        }
      }
    }
  }
}


@include media-breakpoint-up(md) {

  #wrapper-footer {

    .footer-top {
      text-align: left;

      ul {
        li {
          display: block;

          a {
            text-decoration: none;
          }
        }
      }

      .btn-sodexo-footer {
        text-align: center;
        min-width: 230px;
        width: auto;
      }

      .img-apps {
        a {
          padding-left: 0;
        }
      }

      .lmt-panel {
        position: relative;
      }

      #contactPopinFooter {
        position: initial;
      }

      .layer-footer {
        left: 50%;
        right: auto;
        bottom: calc(100% + 20px);
        transform: translate(-50%, 0);
        width: 320px !important;
        max-width: none;

        &.lmt-layer-quote {
          width: 500px !important;

          @media screen and (min-width: 850px) {
            width: 840px !important;
          }
        }

        &:before {
          right: auto;
          left: 50%;
        }
      }

    }

    .footer-bottom {
      .date-copy {
        padding: 0 0 5px 0;
        text-align: right;
      }
    }

  }

}