// temp testimonials widget

#wrapper-product-megatab {
  padding: 115px 0;
  background-color: $soxo-grey;

  .container {
    padding-left: 0;
    padding-right: 0;
  }

  .fake-select {
    padding: 30px;
    width: 100%;
    text-align: center;
    background-color: $soxo-blue-dark;

    &_content {

      a {
        text-decoration: none;
        display: inline-block;
        color: #FFF;
        line-height: 50px;
        border-radius: 25px;
        padding: 0 30px;
        border: 1px solid #FFF;
        font-weight: bold;
        text-transform: uppercase;

        span {
          padding-right: 60px;
        }

        .icon::before {
          font-size: 20px;
        }

        &:hover,
        &:focus {
          text-decoration: none
        }
      }
    }
  }

  .prod-tabs {
    overflow: hidden;

    &--content {

      .nav-tabs {
        border-bottom: 0;

        li.nav-item {
          display: flex;
          align-items: stretch;

          a.nav-link {
            display: block;
            min-height: 80px;
            // height: 100%;
            width: 100%;
            font-size: 18px;
            line-height: 20px;
            margin: 0 1px;
            padding: 20px;
            text-align: center;
            text-transform: uppercase;
            color: $soxo-blue;
            background-color: #FFF;
            border: 0;
            border-top-right-radius: 1rem;
            border-top-left-radius: 1rem;
            transition: background .6s;

            &.active {
              color: #FFF;
              font-weight: bold;
              background-color: $soxo-blue-dark;
            }

          }

          &:first-of-type {
            a.nav-link {
              margin-left: 0;
            }
          }

          &:last-of-type {
            a.nav-link {
              margin-right: 0;
            }
          }

        }

      }

      .tab-content {

        .tab-pane {
          background-color: #FFF;
          @include faq-bottom-border-radius();
          -moz-box-shadow: 0 1px 1px 0 #656565;
          -webkit-box-shadow: 0 1px 1px 0 #656565;
          -o-box-shadow: 0 1px 1px 0 #656565;
          box-shadow: 0 1px 1px 0 #656565;
          filter: progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=180, Strength=1);

          .first-block {
            color: #FFF;
            background-color: $soxo-blue-dark;
            padding-bottom: 30px;

            .advantage-img {
              text-align: center;
            }

            ul.advantage-list {
              color: #FFF;
              list-style-type: none;
              padding-left: 45px;
              padding-right: 15px;

              li {
                position: relative;
                .icon-check {
                  font-size: 30px;
                  position: absolute;
                  top: -12px;
                  left: -45px;
                }
                h3 {
                  color: #FFF;
                  margin-top: 30px;
                  margin-left: -1.4em;
                  text-transform: uppercase;
                  font-weight: 600;
                  font-size: 20px;
                  display: inline;
                }
                p {
                  font-weight: 300;
                  font-size: 16px;
                }
              }
              a {
                color: #FFF;
                text-decoration: underline;
              }
            }

            .see-more-advantages {
              margin: 40px 0 30px 0;
              padding-left: 40px;
              .fa {
                padding-right: 5px;
              }
              a {
                color: #FFF;
                text-decoration: underline;
              }
            }

          }

          /* ----------------------------------------------------------------------------------
                    Getting Pass Restaurant
          ---------------------------------------------------------------------------------- */
          .getting-pass-block {
            background-color: $soxo-grey-light;

            .getting-pass-steps {
              text-align: center;
              margin: 0 20px;
              &-inner-wrapper {
                display: flex;
                flex-direction: column;
                .getting-pass-content {
                  flex: 1;
                }
              }

              .step-img-container {
                position: relative;
                margin-bottom: 30px;
                img {
                  margin-left: auto;
                  margin-right: auto;
                  margin-bottom: 0;
                }

              }

              &--mobile {
                display: none;

                .step-img-container {
                  img {
                    width: 100%;
                    max-width: 140px;
                  }
                }
                /* end step-img-container */

              }

              &--desktop {

                .step-img-container {
                  display: flex;

                  .step-img-container2 {
                    display: grid;
                    z-index: 5;
                    margin: 0 auto;
                  }

                  .trait-container {
                    width: 100%;
                    /*max-width:750px;*/
                    top: 50%;
                    left: 50%;
                    position: absolute;
                    z-index: 1;
                    border-bottom: 1px solid $soxo-blue;
                    border-top: 1px solid $soxo-blue;
                  }

                  img {
                    margin-left: auto;
                    margin-right: auto;
                    margin-bottom: 0;
                  }

                }
                /* end step-img-container */

              }
              /* end desktop */

              h3 {
                font-weight: bold;
                font-size: 24px;
              }
              p {
                font-size: 18px;
                line-height: 26px;
              }
            }
            .getting-pass-knowmore {
              padding: 30px 0 60px 0;
            }
          }

          .show-regulation-pass-block {
            background-color: #FFF;
            padding-bottom: 30px;

            .regulation-pass-list-item {
              margin: 15px;
              padding-left: 20px;

              .icon-check {
                font-size: 28px;
                color: $soxo-blue;
                position: absolute;
                top: 6px;
                left: 15px;
              }

            }

          }

          .download-apps-block {
            color: #FFF;
            text-align: center;
            background-color: $soxo-blue2;

            &-image {
              position: relative;
              background-position: center;
              background-size: cover;
              background-repeat: no-repeat;
              width: 100%;
              height: 100%;
              min-height: 300px;

              &::after {
                display: block;
                width: 64px;
                height: 24px;
                content: url('../images/wave-blue2.svg');
                position: absolute;
                bottom: -1px;
                left: 0;
                right: 0;
                margin: 0 auto;
              }
            }

            &-text {
              padding-left: 15px;
              padding-right: 15px;
              width: 100%;
            }

            h3 {
              margin: 60px auto 30px auto;
              font-weight: 600;

              &::after {
                content: "";
                display: block;
                width: 45px;
                height: 4px;
                margin: 25px auto 0 auto;
                background-color: #FFF;
              }
            }
            ul.product-show-apps-list {
              list-style-type: none;
              padding: 0;
              margin: 45px 0;
              li {
                margin: 15px auto;
              }
            }
          }

          .faq-block {
            color: inherit;
            text-align: justify;
            background-color: #FFF;
            padding: 15px 15px 60px 15px;
            @include faq-bottom-border-radius();

            &--footer-btn {
              text-align: center;
            }
          }

        }

        .tab-content-footer {
          padding: 30px 0;

          .download-brochure {
            text-align: left;
            margin-top: 15px;
            padding-left: 30px;
            a {
              color: inherit;
            }
          }
          .tab-content-footer-more {
            text-align: right;
          }
        }

      }

    }

  }

}

@include media-breakpoint-down(sm) {
  .tab-content-footer-more {
    text-align: center;
    padding: 15px;
    a.btn-sodexo {
      text-align: center;
      width: 100%;
    }
  }

  #wrapper-product-megatab {
    padding-top: 0;

    .prod-tabs--content .tab-content .tab-pane .getting-pass-block .getting-pass-steps {
      &--mobile {
        display: block;

        .slick-prev,
        .slick-next {
          &:before {
            color: $soxo-blue-dark;
            opacity: 1;
          }
          &.slick-disabled:before {
            opacity: 0;
          }
        }
        .slick-next {
          right: 0;
        }
        .slick-prev {
          left: 0;
        }
      }
      &--desktop {
        display: none;
      }

    }

  }
}

@include media-breakpoint-down(xs) {

  // Getting Pass Restaurant
  .trait-container {
    display: none;
  }
  // END Getting Pass Restaurant

  #wrapper-product-megatab {
    .fake-select {
      &_content {
        a {
          span {
            padding-right: 15px;
          }
        }
      }
    }
  }

}

@include media-breakpoint-up(md) {

  // Getting Pass Restaurant
  .getting-pass-steps {
    .step-img-container {
      .trait-container {
        max-width: 530px;
      }
    }
  }
  // END Getting Pass Restaurant

  // BOUTON ACTION
  .tab-content-footer-more {
    margin-right: 20px;
  }

  #wrapper-product-megatab {
    .prod-tabs {
      .tab-content {
        .tab-pane {
          .download-apps-block {
            &-image {
              &::after {
                top: 0;
                bottom: 0;
                left: auto;
                right: -22px;
                margin: auto 0;
                transform: rotate(-90deg);
              }
            }
            &-text {
              padding-right: 30px;
            }
          }
        }
      }
    }
  }

}

@include media-breakpoint-up(md-max) {
  .prod-tabs {
    &--content {
      .tab-content {
        .getting-pass-block,
        .show-regulation-pass-block {
          padding-left: 100px;
          padding-right: 100px;
        }
      }
    }
  }

  // Getting Pass Restaurant
  .getting-pass-steps {
    .step-img-container {
      .trait-container {
        max-width: 600px;
      }
    }
  }
  // END Getting Pass Restaurant

  // BOUTON ACTION
  .tab-content-footer-more {
    margin-right: 0;
  }

}
