// temp testimonials widget

.prod-head {
  z-index: -1;
  //position: relative;

  &--background {
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  &--content {
    padding-bottom: 30px;
    &_textblock {
      margin-bottom: 60px;
    }
    &_mobile {
      background-color: $soxo-grey-light;
      text-align: center;
      padding-bottom: 15px;
      h1 {
        padding-bottom: 20px;
      }
      .prod-head--content_textblock {
        margin-bottom: 30px;
      }
      .sodexo-page-head-description {
        text-align: center;
        color: #000;
        padding: 0;
      }
    }

    .secondary-bg-image {
      @include media-breakpoint-up(md) {
        background-image: none !important;
      }
    }
  }
}

@include media-breakpoint-up(md-max) {
  body.single-product .prod-head {
    &--content {
      &_image {
        margin-bottom: -80px;
      }
    }
  }

  .prod-head {
    .sodexo-page-head-description {
      padding-right: 80px;
    }
  }
}

@include media-breakpoint-down(sm) {
  .prod-head {
    &--background {
      background-image: none !important;
    }
    .secondary-bg-image {
      position: relative;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      opacity: 1;
    }

    &--content {
      padding-bottom: 0;
      overflow-x: hidden;
      .container {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
      }
      .row {
        display: flex;
        flex-direction: column-reverse;
      }
      &_textblock {
        //position: relative;
        margin-bottom: 0;
        background-color: $soxo-grey-light;
        text-align: center;
        padding-bottom: 15px;
        h1 {
          padding-bottom: 20px;
        }
        .prod-head--content_textblock {
          margin-bottom: 30px;
        }
        .sodexo-page-head-description {
          text-align: center;
          color: #000;
          padding: 0 15px;
        }
        .sodexo-page-head-title {
          text-align: center;
          font-size: 32px;
          margin: 0 auto;
          padding: 50px 0;
          font-weight: 300;
          color: $soxo-blue;
          &:before {
            background-color: $soxo-red;
            width: 70px;
            height: 4px;
            margin: 0 auto 15px auto;
          }
        }
      }
    }
    .sodexo-page-head-description {
      p {
        color: $soxo-grey-dark !important;
        span {
          color: $soxo-grey-dark !important;
        }
      }
    }
  }
}

@include media-breakpoint-down(xs) {

}