// Buttons
a.btn-sodexo,
button.btn-sodexo {
  display: inline-block;
  color: #FFF;
  text-transform: uppercase;
  font-size: 14px;
  border-radius: 20px;
  padding: 5px 30px 2px;
  line-height: 31px;
  background-color: $soxo-red;
  transition: all .6s;
  text-decoration: none;

  &.btn-sodexo-plus {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 28px;
  }

  &:hover,
  &:focus {
    color: #FFF;
    text-decoration: none;
  }

  &.btn-sodexo-red {
    background-color: $soxo-red;
    &:hover,
    &:focus {
      background-color: $soxo-red-dark;
    }
  }

  &.btn-sodexo-white {
    border: 1px solid $soxo-grey-lighter;
    background-color: #FFF;
    color: #4d4d4f;
    &:hover,
    &:focus {
      color: #4d4d4f;
      background-color: #f1f1f3;
    }
  }

  &.btn-sodexo-green {
    background-color: $soxo-green;
  }


  &.btn-sodexo-transparent {
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid #FFF;
    &:hover,
    &:focus {
      color: #2c2455;
      background-color: #f1f1f3;
    }
  }

  &.btn-sodexo-grey {
    color: #4d4d4f;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid #dcd7d3;
  }

  &.btn-sodexo-faq {
    background-color: $soxo-grey-lighter;
    border-radius: 10px;
    color: $soxo-grey-dark;
    font-weight: 600;
    line-height: 0;
    box-shadow: 0 1px 1px 0 rgba(3, 3, 3, 0.2);

    &:hover,
    &:focus,
    &.faq-topic-active,
    &.faq-profile-active {
      background-color: $soxo-blue-ocean;
      color: #FFF;
    }
  }

  // &.callToAction-link-chile {
  //     display:inline-block !important;
  // }
  // add buttons colors here
}

@media (max-width: $screen-md-max) {
  a.btn-sodexo {
    padding-left: 15px;
    padding-right: 15px;
  }
}
