#root {
  margin-bottom: 100px;
}

#root > [data-reactroot] {
  margin-top: 50px;

  .simulator {
    display: flex;
    align-items: stretch;
    position: relative;

    -webkit-user-select: none; /* Chrome all / Safari all */
    -moz-user-select: none; /* Firefox all */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Likely future */

    &-title {
      font-size: 14px;
      font-weight: $bold;
      color: $soxo-blue-ocean;
      text-transform: uppercase;

      margin-bottom: 28px;
    }

    &-label {
      font-size: 14px;
      color: $soxo-blue-ocean;
      max-width: 145px;
      margin-bottom: 14px;
    }

    & .settings {
      flex: 0 0 60%;

      & .container_simulator {
        padding: 20px 10px 20px 20px;

        height: 100%;

        overflow-y: scroll;
        overflow-x: hidden;

        display: flex;
        flex-direction: column;

        background: #fff;
        max-width: 100%;
        margin: 0 auto;
        border-radius: 20px 0 0 20px;
        box-shadow: 0 1px 1px 0 rgba(3, 3, 3, .2);
        //margin-top: 50px;

        &::-webkit-scrollbar {
          width: 16px;
          height: 20px;
        }
        &::-webkit-scrollbar-thumb {
          height: 20px;
          border-right: 9px solid rgba(0, 0, 0, 0);
          border-left: 0;

          border-top: 20px solid rgba(0, 0, 0, 0);
          border-bottom: 20px solid rgba(0, 0, 0, 0);

          background-clip: padding-box;
          background-color: $soxo-blue;
          -webkit-box-shadow: inset -1px -1px 0 rgba(0, 0, 0, 0.05), inset 1px 1px 0 rgba(0, 0, 0, 0.05);
        }
        &::-webkit-scrollbar-button {
          width: 0;
          height: 0;
          display: none;
        }
        &::-webkit-scrollbar-corner {
          background-color: transparent;
        }

      }
    }

    & .results {
      position: relative;
      background-color: $soxo-blue;
      background-size: 21px 61px;
      background-position: 0% 50%;
      background-repeat: no-repeat;
      flex: 0 0 40%;
      border-radius: 0 20px 20px 0;
      box-shadow: 0 0 0 0 rgba(3, 3, 3, .2);

      padding: 40px 20px;

      &__mobile {
        display: none;
      }

      &__full {
        display: block;

      }

      &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
      }

      &__show-more {
        display: none
      }

      &-title {
        color: white;
        font-size: 16px;
      }

      &-label {
        max-width: 70%;
        line-height: 18px;
        font-size: 14px;
        margin: 0;
      }

      &-list {
        color: white;
        padding-left: 0;
        li {
          display: flex;
          justify-content: space-between;
          margin-bottom: 20px;
          list-style-type: none;
        }
      }

      &-value {
        font-size: 14px;
        font-weight: $bold;
      }

      p, ul {
        margin-bottom: 0;
      }

      ul {
        list-style: none;
        padding: 0;
      }
    }

    .overlay-fixed {
      transition: opacity 0.15s linear;
      overflow: hidden;
      display: none;
      position: fixed;
      width: 100vw;
      height: 100vh;
      justify-content: center;
      align-items: center;
      &.overlay {
        z-index: 100;
        display: flex;
        background-color: rgba(0, 0, 0, .75);
        &:after {
          content: none;
        }
      }
    }

    & .iframe-typeform {
      &-wrapper {
        z-index: 1001;
        position: fixed;
        left: 0;
        top: -100%;
        transition: top .4s ease-in-out;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        //@media (min-width: 900px) and (max-width: 1024px) {
        //  justify-content: flex-start;
        //}
        &.show-typeform {
          top: 0;
        }
      }
      position: relative;
      background: white;
      padding: 24px 0 5px;
      width: 92%;
      max-width: 830px;
      border-radius: 8px;

      & iframe {
        width: 640px;
        border: none;
      }

      & button.lmt-close {
        background-color: $soxo-red;
        border: 2px solid #fff;
        border-radius: 50%;
        box-shadow: 0 0 1px rgba(0, 0, 0, 0.35);
        height: 27px;
        outline: none;
        padding: 0;
        position: absolute;
        top: $top-cross;
        left: $left-cross;
        width: 27px;
        z-index: 10;
        display: flex;
        align-items: center;
        justify-content: center;
        &:before {
          color: #fff;
          content: '\e815';
          font-family: "soxo-icons";
          font-size: 13px;
        }
        .sr-only {
          position: absolute;
          width: 1px;
          height: 1px;
          padding: 0;
          margin: -1px;
          overflow: hidden;
          clip: rect(0, 0, 0, 0);
          border: 0;
        }
      }

      & a {
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 21;
        font-family: "soxo-icons";
        i {
          color: $soxo-blue;
          &:before {
            content: "\E815";
            font-family: soxo-icons;
            font-style: normal;
            font-weight: 400;
            speak: none;
            display: inline-block;
            text-decoration: inherit;
            width: 1em;
            margin-right: .2em;
            text-align: center;
            font-variant: normal;
            text-transform: none;
            line-height: 1em;
            margin-left: .2em;
            -webkit-font-smoothing: antialiased;
          }
        }
      }

      .iframe-wrapper {
        width: 100%;
        &.apple {
          //  overflow-x: hidden;
          //  overflow-y: scroll;
          //  -webkit-overflow-scrolling: touch;
          //  max-height: 89vh;
          //  height:450px;
          //  position: relative;
          iframe {
            //    height: 100%;
            //    top: 0;
            //    left: 0;
            //    position: absolute;
            //    width: 100%;
            display: none;
          }
        }
        //iframe {
        //  width: 100%;
        //}
      }
    }

    &.overlay {
      z-index: 999;
      width: 100%;
      margin: 0;
      left: 0;

      &:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 11;
        background-color: rgba(0, 0, 0, .75);
        border-radius: 20px;
      }
    }

  }

  & .loading {
    // height: 100%;
    // // width: 100%;
    // // display: flex;
    // // justify-content: center;
    // // align-items: center;
    // text-align: center;
    // padding: 30px;
    // box-shadow: none;
    // background: transparent;

  }

  .callToAction {
    &-links {
      display: flex;
      justify-content: space-between;
      align-content: center;
      align-items: center;
      margin: 20px 0 0;

      .placeOrder {
        display: none;
      }

      & .callToAction-groupLinks {
        &:first-child {
          & > a {
            color: $soxo-grey-dark;
            font-size: 14px;

            &:before {
              content: '';
              display: inline-block;
              width: 20px;
              height: 20px;
              margin: 0 6px -5px 0;
            }

            &:last-child {
              margin-right: 20px;
            }
          }
        }

        a:first-child {
          margin-right: 20px;
        }
      }
    }

    &-disclaimer {
      margin-top: 35px;
      font-size: 12px;
      color: #717171;
    }
  }
}

// Usage
@media (max-width: $screen-md-max) {

  #root > [data-reactroot] {
    margin: 0 auto;

    .simulator {
      flex-direction: column-reverse;

      &-title {
        font-size: 14px;
      }

      &-label {
        font-size: 12px;
        margin-bottom: 0;
        align-self: center;
      }

      &_mobile-open {
        overflow: hidden;
      }

      & .settings {
        flex: none;
        //margin-top: 15px;
        height: auto;

        & .container_simulator {
          padding: 40px 16px 16px 16px;
          height: 100%;

          overflow-y: scroll;

          background: white;
          max-width: 100%;
          max-height: none !important;
          margin: 0 auto;
          border-radius: 0;
          box-shadow: none;

          &::-webkit-scrollbar {
            // width: 16px;
            // height: 20px;
            display: none;
          }

        }
      }

      & .results {
        border-radius: 0;
        padding: 0;
        height: auto;
        position: relative;
        background: $soxo-blue;

        &__mobile {

          &.open {

            & .results__mobile_summary {
              display: none;
            }
          }

          &_summary {
            padding: 15px 15px 0 15px;
            margin-bottom: -15px;
            display: flex;
            &_doughnut {
              height: 50px;
              svg {
                left: 15px;
                transform: translateX(0%);
              }
            }

            &_content {
              color: white;
              display: flex;
              justify-content: center;
              align-self: center;
              margin: 0 auto;
              &-text {
                max-width: 70px;
                font-size: 12px;
                line-height: 13px;
              }

              &-percentage {
                font-size: 20px;
              }

            }
          }

          &_full {
            padding: 30px 15px 0 15px;

            & .results {
              &-title {
                font-size: 15px;
              }

              &-label {
                font-size: 12px;
              }

              &-value {
                font-size: 14px;
              }
            }

            & .doughnut {
              height: 180px;
              margin: 15px 0;

              svg {
                margin: 0 auto;
                left: calc(50% - 90px);
                transform: translateX(0%);
                position: absolute;
              }

              text.custom {
                font-size: 12px;
                fill: #fff;
              }

              text.percentage {
                font-size: 36px;
                fill: #fff;
                font-weight: $semi-bold;
              }
            }
          }

          background-color: $soxo-blue;
          display: block;
        }

        &__full {
          display: none;
        }

        &__show-more {
          height: 50px;
          width: 50px;
          background-color: #ed424a;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          margin: 0 auto;
          left: 50%;
          margin-left: -25px;
          bottom: 0;
          top: 25px;
          box-shadow: 0 1px 1px 0 rgba(3, 3, 3, 0.35);

          span {
            margin: 0;
            font-size: 25px;
            color: white;
          }
        }
      }

      & .iframe-typeform {
        //left: 50%;
        //top: 25%;
        padding: 24px 0 0 5px;
        //transform: translateX(-50%) translateY(-25%);
        & iframe {
          width: 300px;
        }
      }

    }

    .callToAction {
      padding: 0 10px;
      &-links {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin: 10px 0 0;

        & .callToAction-groupLinks {
          display: flex;
          flex-direction: column;

          a {
            &:first-child {
              margin-bottom: 10px;
            }

            &:last-child {
              margin-top: 20px;
            }
          }

          &:last-child {
            align-items: flex-end;
            a {
              &:first-child {
                margin-bottom: 10px;
              }
              margin: 0;
            }
          }
        }
      }
    }
  }

  _:-ms-fullscreen, :root .simulator .settings {
    flex: none !important;
    margin-top: 130px !important;
  }
}

#box {
  width: 100%;
  overflow: hidden;
}

.slide-appear {
  opacity: 0;
  transition: opacity .7s ease-in;
}

.slide-appear.slide-appear-active {
  opacity: 1;
}

.slide-enter {
  max-height: 0;
  opacity: 0;
  transition: all .3s ease-in;
}

.slide-enter.slide-enter-active {
  max-height: 1000px;
  opacity: 1;
}

.slide-leave {
  max-height: 1000px;
  opacity: 1;
  transition: all .3s ease-out;
}

.slide-leave.slide-leave-active {
  max-height: 0;
  opacity: 0;
}
