$soxo-blue: #2c2455;
$soxo-blue-light: #f3f5fe;
$soxo-blue-ocean: #283897;
$soxo-red: #ed424a;
$soxo-red-dark: #ce2a32;
$soxo-green: #00FF00;
$soxo-grey: #7c8083;
$soxo-grey-lighter: #eae6e3;
$soxo-grey-light: #d8d3cf;
$soxo-grey-medium: #58585a;
$soxo-grey-dark: #4d4d4f;
$soxo-beige: #f8f6f6;


$semi-bold: 600;
$bold: 800;

// Defining values
$screen-xs: 0;
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 1025px;
$screen-md-max: ($screen-lg - 1);
$screen-xl: 1200px;
$screen-lg-max: ($screen-xl - 1);

$left-cross:-10px;
$top-cross:-9px;