// @import '~bootstrap/scss/bootstrap.scss';
@import '~rc-slider/assets/index.css';
@import '~rc-tooltip/assets/bootstrap.css';
// Some best-practice CSS that's useful for most apps
// Just remove them if they're not what you want
html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'SansaPro';
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* overlay styles, all needed */
.overlay {
  &:after {
    content: "";
    display: block;
    position: fixed; /* could also be absolute */ 
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    background-color: rgba(0,0,0,0.75);
  }
}

.chevron::before {
	border-style: solid;
  border-color: #fff #fff transparent transparent;  
	border-width: 3px 3px 0 0;
	content: '';
	display: inline-block;
	height: 16px;
	left: 0;
	position: relative;
	top: 12px;
	transform: rotate(-45deg);
	vertical-align: top;
	width: 16px;
}

.chevron.right::before {
	left: 0;
	transform: rotate(45deg);
}

.chevron.bottom::before {
	top: 5px;
	transform: rotate(135deg);
}

.chevron.left::before {
	left: 0;
	transform: rotate(-135deg);
}
