.bloc-link {
    width: 100%;

    &_container {
      overflow: hidden;
      text-align: center;

      &--image {
        display: block;
        width: 60px;
        margin: 0 auto;
      }

      &--cta {
        margin-top: 15px;
        & {
          margin-top: 0;
        }
      }

      &--subtitle {
        font-size: 14px;
      }


    }
}
