.cross-sell {
    background-color: $soxo-blue-dark2;
    padding-bottom: 60px;

    &--mobile {
      display: none;

      .cross-sell--container {
        img {
          margin-left: auto;
          margin-right: auto;
        }
      }

      .slick-dots {
        bottom: -30px;
        li {
          button {
            border-color: $soxo-white;
          }
          &.slick-active {
            button {
              background-color: $soxo-white;
            }
          }
        }
      }

      .slick-prev,
      .slick-next {
        &:before {
          color: $soxo-white;
          opacity: 1;
        }
        &.slick-disabled:before {
            opacity: .3;
        }

      }

    }

  &--container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    img {
      cursor: pointer;
    }
    &_title {
      a {
        text-decoration: none;
        color: #FFF;
        font-weight: 600;
        font-size: 20px;
        text-transform: uppercase;
      }
    }
    &_description {
      flex: 1;
      cursor: pointer;
      p {
        color: #FFF;
        font-weight: 300;
        text-align: center;
        font-size: 18px;

      }
    }
  }

  &.style-blue {
    background-color: $soxo-blue-dark2;

    h2.sodexo-title {
      color: $soxo-white;
    }

    .cross-sell--container {
      &_title {
        color: $soxo-white;
        a {
          color: $soxo-white;
        }
      }
      &_description p {
        color: #FFF;
      }
    }
  }

  &.style-white {
    background-color: $soxo-white;

    h2.sodexo-title {
      color: $soxo-grey-dark;
    }

    .cross-sell--container {
      &_title {
        color: $soxo-grey-dark;
        a {
          color: $soxo-grey-dark;
        }
      }
      &_description p {
        color: $soxo-grey-dark;
      }
    }
  }

  &--cta {
    text-align: center;
    padding-top: 12px;
  }

}

@include media-breakpoint-down(md) {

  .cross-sell {

    &--mobile {
      display: block;
    }

    &--desktop {
      display: none;
    }
  }
}
