.discover-more {
  background: $soxo-grey-light;
  margin: 0 auto;
  display: block;
  padding: 30px 0;
  width: 100%;

  .sodexo-title {
    margin: 0 auto 15px;
    padding: 30px 0;
  }

  &-blocks {
    background-color: #666;
    display: block;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    .discover-more-content {
      order: initial;
      display: flex;
      vertical-align: top;
      //position: relative;
      width: 100%;
      overflow: hidden;
      background-position: center;
      background-size: cover;
      position: relative;
      min-height: 270px;

      &::before {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        content: "";
        width: 100%;
        height: 100%;
        display: flex;
        background-color: rgba(0, 0, 0, .4);
      }

      &_inside {
        display: block;
        width: 100%;
        text-align: center;
        padding: 30px;
        position: relative;
        color: #FFF;
        align-self: center;

        h3 {
          font-size: 24px;
          line-height: 24px;
          font-weight: normal;
          margin-bottom: 15px;
        }

        p {
          font-size: 16px;
          font-weight: 300;
        }

      }

    }

  }

}

@include media-breakpoint-up(xs) {

    .discover-more {
      &-blocks {
        &.discover-more-6 {
          flex-direction: row;
          .discover-more-content {
            &:nth-child(1) {
              order:2;
            }
            &:nth-child(2) {
              order:3;
            }
            &:nth-child(3) {
              order:1;
            }
            &:nth-child(4) {
              order:4;
            }
            &:nth-child(5) {
              order:5;
            }
            &:nth-child(6) {
              order:6;
            }
          }
        }
      }
    }

}

@include media-breakpoint-up(sm) {

  .discover-more {
    &-blocks {
      &.discover-more-6 {
        flex-direction: row;
        .discover-more-content {
          &:nth-child(1) {
            order:2;
          }
          &:nth-child(2) {
            width: 50%;
            order:3;
          }
          &:nth-child(3) {
            width: 100%;
            order:1;
            min-height: 538px;
          }
          &:nth-child(4) {
            width: 50%;
            order:4;
          }
          &:nth-child(5) {
            order:5;
            width: 50%;
          }
          &:nth-child(6) {
            order:6;
            width: 50%;
          }
        }
      }
    }
  }

}



@include media-breakpoint-up(md-max) {

  .discover-more {
    &-blocks {
      height: 800px;
      &.discover-more-1 {
        flex-direction: column;
        height: 600px;
        .discover-more-content {
          height: 600px;
          width: 100%;
        }
      }
      &.discover-more-2 {
        flex-direction: column;
        height: 600px;
        .discover-more-content {
          height: 600px;
          width: 50%;
        }
      }
      &.discover-more-3 {
        flex-direction: column;
        height: 700px;
        .discover-more-content {
          height: 350px;
          width: 50%;
          &:nth-child(1) {
            height: 700px;
          }
        }
      }
      &.discover-more-4 {
        flex-direction: column;
        height: 819px;
        .discover-more-content {
          height: 273px;
          width: 50%;
          &:nth-child(1) {
            height: 819px;
          }
        }
      }
      &.discover-more-5 {
        flex-direction: column;
        height: 800px;
        .discover-more-content {
          height: 400px;
          width: 33.33%;
          &:nth-child(3) {
            height: 800px;
          }
        }
      }
      &.discover-more-6 {
        flex-direction: column;
        height: 819px;
        .discover-more-content {
          &:nth-child(1) {
            order: initial;
            height: 409px;
            width: 33.33%;
          }
          &:nth-child(2) {
            order: initial;
            height: 409px;
            width: 33.33%;
          }
          &:nth-child(3) {
            order: initial;
            height: 819px;
            width: 33.33%;
          }
          &:nth-child(4) {
            order: initial;
            height: 273px;
            width: 33.33%;
          }
          &:nth-child(5) {
            order: initial;
            height: 273px;
            width: 33.33%;
          }
          &:nth-child(6) {
            order: initial;
            height: 273px;
            width: 33.33%;
          }
        }
      }
    }
  }
}
