.info-blocks {
    padding: 35px 50px;
    border-radius: 30px;
    position: relative;


    &_icon {
        margin: 0 auto 0;
        display: block;
        width: 60px;
    }

    &_pretitle {
        color: $soxo-grey-dark;
        font-size: 14px;
        text-align: center;
        margin: 0;

        &-select {
            text-align: left;
            margin-bottom: 30px;
        }
    }

    .select {

        margin: 20px 0 15px;

        .select-style {
            display: flex;
            margin: 0 auto;
            outline: none;
            position: relative;
            width: 70%;

            &:focus {
                outline: none;
            }

            &:after {
                left: calc(100% - 50px);
                border: none;
                font-family: 'soxo-icons';
                font-weight: normal;
                font-style: normal;
                font-size: 30px;
                text-decoration: inherit;
                display: block;
                content: "\e822";
                transform: rotate(-90deg) ;
                top:10px;
                //height: 0;
                //width: 0;
                position: absolute;
                pointer-events: none;
                z-index: 100;
                height: 28px;
                width: 30px;
                background-color:#fff;
            }

            select {
                -moz-appearance:none;
                display: flex;
                border: 2px solid #d8d3cf;
                padding: 10px 20px;

                line-height: 0;
                outline:none; /* remove focus ring from Webkit */
                background: $soxo-white;
                font: inherit;
                font-size: 14px;
                font-style: italic;
                color: #989898;
                width: 100%;
                height: 45px;

                -webkit-appearance:none; /* remove the strong OSX influence from Webkit */

                border-radius: 30px;
            }
        }
    }

    ul {
        list-style-type: none;
        padding: 0;
        li {
            font-size: 14px;
            line-height: 24px;
        }
        margin-left: 16px;
        margin-bottom: 0;
    }

    .type-contents {
        text-align: center;
        display: none;
    }

    #back-document-needed {
        display: none;
        position: absolute;
        font-size: 14px;
        color: $soxo-black;
        top: 70px;
        transform: translateY(-50%);

        i {
            color: $soxo-blue;
            padding-right: 5px;
        }
    }
}

@include media-breakpoint-only(xs) {
    .info-blocks {
        padding: 30px 20px;

        .select {

            margin: 30px 0 50px;

            .select-style {
                width: 100%;

                select {
                    display: flex;
                    border: 2px solid #d8d3cf;
                    padding: 5px 20px;

                    line-height: 0;
                    outline:none; /* remove focus ring from Webkit */
                    background: $soxo-white;
                    font: inherit;
                    font-size: 14px;
                    font-style: italic;
                    color: #989898;
                    width: 100%;

                    -webkit-appearance:none; /* remove the strong OSX influence from Webkit */

                    border-radius: 30px;
                }
            }
        }
    }


}

@include media-breakpoint-only(sm) {
		#two-blocks{
			.info-blocks {
				.select {
					.select-style {
						width: 90%;
					}
				}
			}
		}

}

@include media-breakpoint-only(md) {
		#two-blocks{
			.info-blocks {
				.select {
					.select-style {
						width: 100%;
					}
				}
			}
		}

}
