// temp testimonials widget

.employee-component {
	background-color: $soxo-blue;
	box-sizing: border-box;
	margin: 0 auto;
	padding: 20px 20px 70px;
	width: 100%;

	.sodexo-title {
		color: #FFF;
		&:after {
			background-color: #FFF;
		}
	}

	.container {
		p {
			text-align: center;
			color: #FFF;
			font-weight: 300;
			font-size: 18px;
			margin-top: 15px;
			width:100%;
		}

	}


	&--cta {
		text-align: center;
		width: 100%;

		a {
			width: 100%;
		}
	}

}


@include media-breakpoint-up(md) {

	.employee-component {
		.container {
			p {
				text-align: left;
			}
			&--cta {
					a {
						//width: auto;
					}
			}
		}
	}

}
