.single-carousel {
  background: $soxo-blue2;
  margin: 0 auto;
  padding: 70px 0;
  width: 100%;

  .slick-prev,
  .slick-next {
    &:before {
      font-family: "soxo-icons";
      font-size: 45px;
      line-height: 1;
      color: $soxo-white;
    }
  }

  .slick-dots {
    li {
      button {
        border: 1px solid $soxo-white;
      }
      &.slick-active button {
        background: $soxo-white;
      }
    }
  }

  .slick-slide.flex-center-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    color: $soxo-white;
    padding: 0 60px;
    overflow: hidden;
    &_number-text {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-end;
      align-items: last-baseline;
      width: 100%;
      padding-top: 15px;
      padding-bottom: 15px;
    }

    &_number {
      display: inline-flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: stretch;
      flex: 60 0;
      justify-content: flex-end;

      & .number {
        &_value {
          font-size: 185px;
          margin: 0;
          white-space: nowrap;
          line-height: 82%;
          overflow: visible;
          display: flex;
          align-items: flex-end;

        }

        &_unit {
          //font-size: 70px;
          font-size: .37em;
          align-self: flex-end;
          line-height: 1;
        }
      }
    }

    &_text {
      font-size: 22px;
      display: inline-flex;
      justify-content: flex-start;
      align-self: flex-end;
      //align-self: flex-end;
      //padding: 0 0 20px 50px;
      flex: 40 0 40%;

      padding: 0 0 0 50px;
      p {
        margin-bottom: 0;
        line-height: 90%;
      }
      a {
        margin-top: 10px;
        color: $soxo-black;
      }
    }

    &_button {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-end;
      width: 100%;
      .empty-space {
        flex: 60;
      }
      &-wrapper {
        display: flex;
        justify-content: flex-start;
        align-self: flex-end;
        //padding: 0 0 20px 50px;
        flex: 40 0 40%;

        padding: 0 0 0 50px;
      }
    }
    &.buttonInText {
      .single-carousel--container_text {
        flex-direction: column;
      }

      .single-carousel--container_button {
        padding: 0;
        justify-content: flex-start;
        .empty-space {
          display: none
        }
        &-wrapper {
          padding: 0;
        }
      }
    }
  }

  &.is-chrome {
    .single-carousel--container {
      &.hasbutton:not(.fixed) {
        .single-carousel--container_text {
          margin-bottom: .1em;
        }
      }
    }
  }
  &.is-ie {
    .single-carousel--container {
      &.hasbutton {
        .single-carousel--container_text {
          max-width: 40%;
        }
        .single-carousel--container_number {
          max-width: 60%;
        }
      }
    }
  }
}

@include media-breakpoint-down(md) {

  .single-carousel {

    &--container {

      &_number {
        .number_value {
          font-size: 160px;
        }

      }

      &_text {
        font-size: 16px;
      }

    }
  }

}

@include media-breakpoint-down(xs) {

  .single-carousel {

    &--container {
      flex-direction: column;
      text-align: center;
      &_number-text {
        flex-direction: column;
      }
      &_number {
        justify-content: center;
        .number_value {
          font-size: 120px;
        }

      }

      &_text {
        padding: 0;
        font-size: 14px;
        align-self: center;
      }
      &_button {
        justify-content: center;
        .empty-space {
          display: none;
        }
        &-wrapper {
          padding: 0;
          justify-content: center;
        }
      }
    }

    &.is-ie {
      .single-carousel--container {
        &.hasbutton {
          .single-carousel--container_text, .single-carousel--container_number {
            max-width: 100%;
          }
        }
      }
    }
  }

}