.blog-homepage {

  .content {
    padding: 50px 0;
  }

  .blog-component {
    ul {
      padding: 0;
    }
    li {
      display: block;
      // width: 100%;

      & + li {
        margin-top: 20px;
      }
    }
    &--block.main {
      & + .blog-component--block {
        margin-top: 30px;
      }
    }
  }

  .testimonials-cta {
    margin-top: 54px;
    text-align: center;

    a {
      color: $soxo-blue-dark;

      span {
        text-decoration: underline;
      }

      &:before {
        content: "+";
        display: inline-block;
        font-size: 20px;
        margin-right: 6px;
        vertical-align: middle;
      }
    }
  }
}

.label-checkbox-widget-link {
  color: #FFF;
  &:hover,
  &:focus {
    color: #FFF;
    text-decoration: underline;
  }
}

.blog-component {

  &--block {
    .blog-visuel {
      img {
        width: 100%;
      }
    }
  }

}

.nav-dropdown {
  height: 50px;

  .nav {
    position: absolute;
    z-index: 10;
  }
}

.nav.nav-categories {
  border-radius: 20px;
  text-align: center;
  display: inline-block !important;

  .bg-grey & {
    background: #fff;
  }

  &:after {
    border: 1px solid $soxo-blue;
    border-width: 0 1px 1px 0;
    content: "";
    display: block;
    height: 12px;
    position: absolute;
    right: 20px;
    top: 14px;
    transform: rotate(45deg);
    width: 12px;
    z-index: 1;
  }

  li {
    box-sizing: border-box;
    display: block;
    width: 100%;
    min-width: 20%;
  }
  &:not(.active) li:not(.trigger) {
    display: none;
  }
  .current {
    display: none;
  }
  &:not(.active).five-or-more {
    flex-wrap: wrap !important;
    justify-content: flex-start;
    li {
      margin-bottom: 15px;
      min-width: 18%;
      flex: 1;
      //max-width: 20%;
    }
  }

  a,
  button {
    background: none;
    border: 0 none;
    box-sizing: border-box;
    color: $soxo-grey-dark;
    display: block;
    font-size: 18px;
    padding: 8px 38px 8px 20px;
    position: relative;
    text-align: left;
    text-transform: uppercase;
    width: 100%;
    z-index: 2;
  }
}

.sticky {
  @media screen and (min-width: 320px) {
    width: 100% !important;
  }
  @media screen and (min-width: 1024px) {
    width: 500px !important;
  }
}

.blog-item {
  @media screen and (min-width: 320px) {
    width: 100%;
  }
  @media screen and (min-width: 1024px) {
    width: 250px;
  }
  $hPadding: 20px;

  .cross-sell {
    padding-bottom: 0;
  }

  & + [class*="section"] {
    margin-top: 50px;
  }

  li {
    list-style: none;
  }

  .bt {
    background: $soxo-red;
    border-radius: 20px;
    border: 0 none;
    color: #fff;
    display: inline-block;
    font-family: $font-sansapro;
    margin: 0 auto;
    padding: 8px 26px;
    text-align: center;
    text-transform: uppercase;
  }

  & > a {
    background: #fff;
    display: block;
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }

    & > *:last-child {
      margin-bottom: 0;
    }
  }

  img {
    margin: 0;
    width: 100%;
  }
  [class*="col-"] {
    padding: 0;
    max-width: none;
    width: 100%;
  }

  .widget,
  .cross-sell--container {
    background: $soxo-blue-dark;
    color: #fff;
    padding: 40px $hPadding;
    text-align: center;
  }

  .widget {
    label {
      display: block;
      line-height: 1.2;
      font-size: 14px;
      margin-bottom: 0;
      text-align: left;
    }
    &-title,
    &title {
      font-size: 22px;
      margin-bottom: 36px;
      text-align: center;
    }
    [class*="col-"] {
      & + [class*="col-"] {
        margin-top: 15px;
      }
      & + [type="submit"] {
        margin-top: 20px;
      }
    }
    [type="checkbox"] {
      opacity: 0;
      position: absolute;

      & + label {
        align-items: flex-start;
        display: flex;

        &:before {
          border: 3px solid $soxo-blue-dark;
          box-shadow: 0 0 0 1px #fff;
          content: "";
          display: inline-block;
          height: 14px;
          flex-grow: 0;
          flex-shrink: 0;
          margin-right: 8px;
          vertical-align: top;
          width: 14px;
        }
      }
      &:checked {
        & + label {
          &:before {
            background: #fff;
          }
        }
      }
    }
    [type="text"],
    [type="email"] {
      border-radius: 20px;
      border: 0 none;
      box-sizing: border-box;
      font-style: italic;
      padding: 10px 14px;
      width: 100%;
      color: $soxo-black;

      @include input-placeholder {
        color: $soxo-grey-dark;
        /*opacity: .6;*/
      }
    }
    [type="submit"] {
      @extend .bt;
      width: 90%;
    }
  }
  .cross-sell--container {
    img {
      display: block;
      height: auto;
      margin: 0 auto 32px;
      width: 90%;
    }
    &_title {
      font-size: 22px;
      text-transform: uppercase;
    }
  }

  .blog-component {
    &--container {
      background: #fff;
      padding: 16px $hPadding;

      &_link {
        text-align: right;

        &:before {
          color: $soxo-blue;
          font-size: 20px;
          margin-right: 0;
          vertical-align: middle;
        }
        &:hover {
          text-decoration: none;
        }
      }
      &_title {
        margin-bottom: 6px;
      }
    }
    &--container_date {
      margin-bottom: 4px;
    }
    &--container_cat {
      background: $soxo-grey-light;
      color: $soxo-blue-dark;
      display: inline-block;
      font-size: 12px;
      margin-bottom: 8px;
      padding: 2px 4px;
      text-transform: uppercase;
    }
  }
}

$baseFs: 22;
.blog-article {

  .entry-header {
    border-bottom: 1px solid $soxo-grey-light;
    margin-bottom: 34px;
    padding: 20px 0 10px;
  }
  .entry-content {
    // counter-reset: sections1;
    // counter-reset: sections2;
    // counter-reset: sections3;
    // counter-reset: sections4;
    // counter-reset: sections5;
    // counter-reset: sections6;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-weight: 600;
      margin-bottom: 14px;
    }

    h1 {
      //counter-increment: sections1;
      font-size: ($baseFs + 6px);

      &:before {
        //content: counter( sections1 )". ";
      }
    }
    h2 {
      //counter-increment: sections2;
      font-size: ($baseFs + 4px);

      &:before {
        //content: counter( sections2 )". ";
      }
    }
    h3 {
      //counter-increment: sections3;
      font-size: ($baseFs + 2px);

      &:before {
        //content: counter( sections3 )". ";
      }
    }
    h4 {
      //counter-increment: sections4;
      font-size: $baseFs+px;

      &:before {
        //content: counter( sections4 )". ";
      }
    }
    h5 {
      //counter-increment: sections5;
      font-size: ($baseFs - 2px);

      &:before {
        //content: counter( sections5 )". ";
      }
    }
    h6 {
      //counter-increment: sections6;
      font-size: ($baseFs - 4px);

      &:before {
        //content: counter( sections6 )". ";
      }
    }

    * {
      & + h1,
      & + h2,
      & + h3,
      & + h4,
      & + h5,
      & + h6 {
        margin-top: 40px;
      }
    }
    ul {
      padding-left: 18px;
    }
    li {
      & + li {
        margin-top: 8px;
      }
    }
    blockquote {
      background: $soxo-grey-light;
      font-style: italic;
      font-size: 20px;
      margin: 40px 0 50px;
      padding: 20px 30px;
      text-align: center;

      p:first-child:before {
        content: "\"";
        margin-right: 4px;
        font-size: 24px;
      }
      p:last-child:after {
        content: "\"";
        margin-left: 4px;
        font-size: 24px;
      }

      p {
        margin-bottom: 0;
      }
    }
  }
  .article-infos {
    color: $soxo-blue;
    font-size: 16px;
    text-align: center;
  }
  .social {
    margin: 15px 0 50px;
    text-align: left;

    span {
      color: $soxo-blue-dark;
      text-transform: uppercase;
      font-weight: 600;
    }
    img {
      margin: 0 3px;
      width: 30px;
    }
    .facebook {

    }
  }
  .pager {
    margin-bottom: 30px;
    /*
            &:after{
                border-bottom: 1px solid $soxo-grey-light;
                content: "";
                display: block;
                margin-left: 15px;
                margin-top: 30px;
                padding-bottom: 18px;
                width: calc( 100% - 30px );

            }
    */
    .next {
      text-align: right;
    }

    .blog-component--container_link {
      text-decoration: none;
    }
  }
}

.related-article {
  padding: 60px 0;
  background-color: $soxo-grey-light;

  a {
    color: inherit;
  }

  .blog-component--container {
    margin-bottom: 0;
  }
}

.posts-section {
  .tt {
    font-size: 20px;
    margin-bottom: 30px;
    color: $soxo-blue-dark;
  }
  ul {
    padding: 0;
  }
  li {
    display: block;
    margin-bottom: 15px;

    & > a {
      display: flex;
      color: inherit;
      text-decoration: none;
    }
  }
  .relatedthumb {
    flex-shrink: 0;
    flex-grow: 0;
    margin-right: 20px;
    width: 100px;
  }
  .relatedcontent {
    font-size: 16px;

    .date {
      color: $soxo-blue;
      display: block;
    }
    p {
      font-size: 18px;
    }
  }
}

#right-sidebar {
  margin-bottom: 26px;
}

.pagination-blog {
  padding-top: 30px;
  justify-content: center;
  &-inner-wrapper {
    display: flex;
    justify-content: center;
  }
  .pagination-item {
    background-color: #fff;
    color: $soxo-blue-dark;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    transition: all .3s;
    min-width: 22px;
    //flex: 2;
    border-radius: 50%;
    font-size: 12px;
    &:hover, &:focus {
      text-decoration: none;
      background: $soxo-blue-dark;
      color: #fff;
    }
    &.current {
      background: $soxo-blue-dark;
      color: #fff;
    }
  }
  .placeholder {
    //flex: 1;
    min-width: 10px;
  }
}

@include media-breakpoint-up(xs) {
  .blog-article {
    .pager {
      display: block;
      .col-sm-6 {
        width: auto;
        .blog-component--container_link {
          &.prev {
            float: left;
          }
        }
      }
    }
  }
  .pagination-blog {
    .pagination-item {
      width: 25px;
      height: 25px;
      margin: 0px 10px;
    }
  }
}

@include media-breakpoint-up(sm) {

  .blog-article {

    .pager {
      display: flex;

      .col-sm-6 {
        width: 100%;

        .blog-component--container_link {
          &.prev {
            float: none;
          }
        }
      }

    }
  }

  .blog-homepage {
    .blog-component {
      li {
        margin-bottom: 20px;
        // width: calc( 50% - 10px );

        & + li {
          margin-top: 0;
        }
        &:nth-child(odd) {
          margin-left: 0;
        }
      }
    }
  }
}

@include media-breakpoint-up(md) {

  .nav-dropdown {
    height: auto;

    .nav {
      position: relative;
    }
  }
  .nav.nav-categories {
    border: 0 none;
    flex-wrap: wrap;

    .bg-grey & {
      background: none;
    }

    &:after {
      content: none;
    }

    li {
      margin-bottom: 10px;
      min-width: 150px;
      width: auto;
    }
    .trigger {
      display: none;
    }
    &:not(.active) li:not(.trigger),
    .current {
      display: block;
    }
    .current {
      a {
        background: $soxo-blue;
        color: #fff;
      }
    }
    a,
    button {
      background: #fff;
      border-radius: 12px;
      box-shadow: 1px 1px rgba(0, 0, 0, .3);
      color: $soxo-grey-dark;
      font-size: 14px;
      padding: 12px 20px;
      text-decoration: none;
      text-align: center;
    }
  }
  .blog-item + [class*="section"] {
    margin-top: 20px;
  }

  .blog-article {
    .entry-content {
      blockquote {
        font-size: 22px;
        padding: 40px 60px;

        p:first-child:before {
          font-size: 26px;
        }
        p:last-child:after {
          font-size: 26px;
        }
      }
    }
  }
}

@include media-breakpoint-up(md-max) {

  .hero-push {

    [class*="item"] {
      .cat {
        font-size: 12px;
      }
      .date {
        font-size: 14px;
      }
      .content {
        font-size: 18px;
      }
    }
  }
  .nav.nav-categories {
    flex-wrap: wrap;

    li {
      margin-bottom: 10;
      min-width: 0;
    }
  }
  .blog-item + [class*="section"] {
    margin-top: 46px;
  }
  .blog-article {
    padding-top: 80px;

    .entry-header {
      padding-top: 0;
    }

    .social {
      margin-top: 20px;
      margin-bottom: 30px;
    }
    .pager {
      margin-top: 30px;
      position: relative;
      padding-top: 30px;
      border-top: 1px solid $soxo-grey-light;

      /*
      &:after{
          margin-left: 15px;
          margin-top: 0;
          position: absolute;
          padding-bottom: 0;
          top: 0;
      }*/

    }
  }
  .related-article {
    padding-bottom: 100px;
    padding-top: 100px;

    .blog-item {
      display: flex;

      .media {
        background: #fff;
        flex-grow: 0;
        flex-shrink: 0;
        overflow: hidden;
        position: relative;
        width: (590% / 980 * 100);

        img {
          // left: 50%;
          // position: absolute;
          // top: 0;
          // max-width: none;
          // transform: translateX( -50% );
          width: 100%;
        }
      }
      .blog-component--container {
        flex-grow: 1;
      }
    }
  }
  .posts-section .relatedcontent {
    font-size: 14px;

    p {
      font-size: 14px;
    }
  }
}

@include media-breakpoint-up(md) {

  .pushTopContainer {
    padding-left: 0 !important;
    padding-right: 0 !important;
    width: 90%;
  }

  .single-need {
    .push-stats {
      padding-left: 0;
      padding-right: 0;
    }
  }

}

.nav-categories-item{
  display: inline-block !important;
  min-width: 11rem !important;
  margin: 0 0.85% 0 0.85%;
}
