// Buttons
a.btn-sodexo,
button.btn-sodexo,
.ajax .gf-iframe .gform_footer .gform_button {
  //display: inline-block;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  border-radius: 21px;
  padding: 0 20px;
  margin-top: 10px;
  background-color: $soxo-red;
  transition: all .6s;
  min-height: 42px;
  font-family: "SansaPro", Helvetica, Arial, sans-serif;
  font-weight: 600;
  &:not([href]) {
    color: #fff;
  }
  &:not(:only-child), &:not(:last-child) {
    padding-right: 22px;
  }

  &.btn-sodexo-plus {
    width: 41px;
    height: 41px;
    border-radius: 50%;
    padding: 0;
    line-height: 41px;
  }

  &:hover,
  &:focus {
    color: #fff;
    text-decoration: none;
  }

  &.btn-sodexo-red {
    background-color: $soxo-red;
    &:hover,
    &:focus {
      background-color: $soxo-red-dark;
      text-decoration: none;
    }
  }

  &.btn-sodexo-white {
    //border: 1px solid $soxo-grey;
    border: 1px solid $soxo-blue-dark;
    background-color: $soxo-white;
    //color: #4d4d4f;
    color: $soxo-blue-dark;
    &:hover, &:focus {
      //color: #4d4d4f;
      color: $soxo-blue-dark;
      background-color: #f1f1f3;
    }
  }

  &.btn-sodexo-transparent {
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid #FFF;
    &:hover, &:focus {
      color: #2c2455;
      background-color: #f1f1f3;
    }
  }

  &.btn-sodexo-grey {
    color: #4d4d4f;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid #dcd7d3;
  }

  &.btn-sodexo-faq {
    background-color: $soxo-grey-light;
    border-radius: 10px;
    color: $soxo-grey-dark;
    font-weight: 600;
    line-height: 0;
    box-shadow: 0 1px 1px 0 rgba(3, 3, 3, .2);

    &:hover,
    &:focus,
    &.faq-topic-active,
    &.faq-profile-active {
      background-color: $soxo-blue;
      color: $soxo-white;
    }
  }
  // add buttons colors here
}

@include media-breakpoint-down(xs) {
  a.btn-sodexo {
    //padding-left: 15px;
    //padding-right: 15px;
  }
}


