
#lmt-overlay {
  z-index: 1100;
  width: 0;
  display: block;
  opacity: 0;
  transition: opacity .3s;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .4);

  &.show {
    width: 100%;
    opacity: 1;
  }
}

.lmt-panel {
  position: relative;
  .collapsing {
    -webkit-transition: none;
    transition: none;
    overflow: hidden;
    position: absolute;
    height: 0;
  }
}

#lead-management-tools {
  display: none; // Displayed only on desktop
  position: fixed;
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1200;
  border-radius: 20px 0 0 20px;
  // box-shadow: 0 0 16px 1px rgba($soxo-black, .23);
  // filter: drop-shadow(0px 0px 3px $soxo-grey);
  margin-bottom: 0;
  padding: 0;

  .lmt-panel {
    position: relative;

    &:first-child {
      button.lmt-btn, a.lmt-btn {
        border-top: 1px solid rgba(0, 0, 0, .1);
        border-top-left-radius: 20px;
      }
    }

    &:last-child {
      button.lmt-btn, a.lmt-btn {
        border-bottom: 1px solid rgba(0, 0, 0, .1);
        border-bottom-left-radius: 25px;
      }
    }

  }

  a.lmt-link {
    display: block;
    &:hover,
    &:focus {
      text-decoration: none;
    }
  }

  button.lmt-btn, a.lmt-btn {
    background: #fff;
    cursor: pointer;
    display: block;
    height: 70px;
    position: relative;
    transition: all .4s ease-out;
    border-width: 0;
    padding: 0;
    right: 70px;
    border-left: 1px solid rgba(0, 0, 0, .1);
    &:hover {
      outline: none;
      text-decoration: none;
      transform: translateX(-100%);
      right: 0;
    }
    &:focus {
      outline: none;
    }

    &[aria-expanded="true"] {
      transform: translateX(0);
      right: 80px;
      .lmt-button-title {
        opacity: 0;
      }
    }

    .lmt-button-title {
      text-align: left;
      white-space: nowrap;
      padding-left: 70px;
      padding-right: 30px;
      color: $soxo-blue;
      font-size: 14px;
      text-transform: uppercase;
    }

    &:before {
      color: $soxo-blue;
      margin: 0;
      left: 15px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      font-size: 36px;
    }

    &.soxo-red {
      background-color: $soxo-red;

      .lmt-button-title {
        color: $soxo-white
      }

      &:before {
        color: $soxo-white;
        font-size: 36px;
      }
    }

    &.contact-us {
      &:before {
        font-size: 38px;
      }
    }

    &.quote {
      &:before {
        font-size: 44px;
      }
    }

    &.ext-link {
      &:before {
        font-size: 42px;
      }
    }

    &.locator {
      &:before {
        font-size: 40px;
      }
    }
  }
  a.lmt-btn {
    &:hover, &:focus {
      text-decoration: none;
    }
    //&[aria-expanded="true"] {
    .lmt-button-title {
      display: flex;
      align-items: center;
      height: 100%;
    }
    //}
  }

}

%customselect {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='84.1 240.1 428.6 200.9'%3E%3Cpath fill='%23283896' d='M310.6,436.6l195.2-162.7c8.1-6.7,9.2-18.8,2.4-26.9c-6.8-8.1-18.8-9.2-26.9-2.5l-183,152.6l-183-152.6 c-8.1-6.7-20.1-5.6-26.9,2.5c-6.8,8.1-5.7,20.1,2.4,26.9l195.2,162.7c3.5,3,7.9,4.4,12.2,4.4C302.7,441,307.1,439.6,310.6,436.6z'/%3E%3C/svg%3E%0A");
  background-size: 17px auto;
  display: block;
  border-radius: 20px;
  font-family: $font-sansapro;
  font-size: 14px;
  height: 40px;
  margin: 10px 0 8px;
  width: 100%;
}

.lmt-contact {
  padding: 20px 10px 0;

  .lmt-contact-info .lmt-contact-email {
    padding-bottom: 0;
  }
  .tt {
    &:after {
      background-color: $soxo-red;
      content: "";
      display: block;
      height: 4px;
      margin: 15px auto 25px;
      width: 40px;
    }
  }
}

.lmt-layer {
  background-color: $soxo-white;
  border: 1px solid $soxo-grey;
  border-radius: 28px;
  right: 100%;
  position: absolute;
  top: 50%;
  transform: translate(-100px, -50%);
  width: 320px;

  &:before,
  &:after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  &:before {
    right: -15px;
    @include triangle(right, 15px, 14px, $soxo-grey);
  }

  &:after {
    right: -13px;
    @include triangle(right, 15px, 14px, $soxo-white);
  }

  &.form-layer {
    width: 500px;

    iframe {
      display: block;
      height: 420px;
      width: 100%;
    }
  }

  .header {
    background-color: $soxo-blue-dark;
    color: $soxo-white;
    border-radius: 28px 28px 0px 0px;
    padding: 12px 20px 10px;
    position: relative;
    z-index: 1;

    .tt {
      display: block;
      font-weight: 600;
      margin: 0;
      text-align: center;
    }

    label {
      margin-bottom: 0;
    }

    .custom-select {
      @extend %customselect;
    }
  }

  .header-white {
    background-color: $soxo-white;
    color: $soxo-blue-dark;
    border-radius: 28px 28px 28px 28px;
    padding: 12px 20px 10px;
    position: relative;
    z-index: 1;

    .tt-white {
      display: block;
      font-weight: 600;
      margin: 0;
      text-align: center;
    }

    label {
      margin-bottom: 0;
    }

    .custom-select {
      @extend %customselect;
    }
  }

  .lmt-close {
    background-color: $soxo-red;
    border: 2px solid $soxo-white;
    border-radius: 50%;
    box-shadow: 0 0 1px rgba($soxo-black, .35);
    height: 27px;
    left: -1px;
    outline: none;
    padding: 0;
    position: absolute;
    top: -7px;
    width: 27px;
    z-index: 10;

    &:before {
      color: $soxo-white;
      content: '\e815';
      font-family: "soxo-icons";
      font-size: 13px;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  form ~ .lmt-contact-info {
    border-top: 28px solid $soxo-blue-dark;
    display: none;
    margin-top: -28px;
  }
  .lmt-contact-info.lmt-contact-info.active {
    display: block;
  }

  .iframe-container {
    border-radius: 0 0 28px 28px;
    overflow: hidden;
    position: relative;

    iframe {
      border: 0;
    }
  }
}

.custom-select.alt {
  @extend %customselect;
}

.lmt-layer-search {
  &_block {
    margin-bottom: 0;
    padding: 15px 10px 15px 20px;

    input {
      border-color: $soxo-grey;
      border-style: solid;
      border-width: 0 0 1px;
      outline: none;
      vertical-align: middle;
      width: 230px;

      @include input-placeholder {
        color: $soxo-blue-dark;
        font-style: italic;
      }
    }

    button {
      background-color: transparent;
      border-width: 0;
      height: 45px;
      outline: none;
      padding: 0;
      vertical-align: middle;
      width: 45px;

      &:before {
        color: $soxo-blue;
        font-size: 36px;
      }
    }
  }
}

.lmt-layer-contact {
  .header {
    border-radius: 28px;
  }
}

.lmt-contact-info {
  header {
    padding-top: 18px;
    text-align: center;
  }

  .lmt-contact-info-icon {
    width: 50px;
    margin: 0 auto 15px auto;
  }

  .assistance-icon {
    align-items: center;
    background-color: $soxo-blue;
    border-radius: 50%;
    height: 50px;
    display: flex;
    justify-content: center;
    margin: 0 auto 18px;
    width: 50px;

    svg {
      fill: $soxo-white;
      display: block;
      height: 24px;
      width: 27px;
    }
  }

  .tt {
    color: $soxo-blue;
    font-size: 18px;
    font-weight: 600;
    line-height: (22 / 18);
    margin-bottom: 12px;
    text-align: center;
    text-transform: uppercase;
  }

  p {
    font-size: 12px;
    line-height: (16 / 12);
    margin-bottom: 8px;
    text-align: center;
    color: $soxo-blue;
  }

  a[href^="tel:"] {
    color: $soxo-blue;
    display: block;
    font-size: 24px;
    font-weight: 600;
    line-height: (28 / 24);
    margin-bottom: 20px;
    text-decoration: none;
    text-align: center;

    .choose-sodexo--container &:last-child {
      margin-bottom: 0;
    }
  }

  .lmt-contact-email {
    border-top: 1px solid $soxo-grey;
    margin: 0 18px;
    padding: 20px 0 26px;
    text-align: center;
    line-height: 5px;

    img {
      height: auto;
      margin-bottom: 15px;
      width: 50px;

      & + a {
        display: block;
      }
    }

    a {
      display: inline-block;
      color: $soxo-blue;
      font-size: 14px;
      text-decoration: none;

      &:hover,
      &:focus {
        text-decoration: underline;
        .icon-envelop {
          text-decoration: none;
        }
      }

      .icon-envelop::before {
        margin: 0 auto 10px auto;
        display: block;
        background-color: $soxo-blue;
        border-radius: 50%;
        color: $soxo-white;
        width: 50px;
        height: 50px;
        line-height: 50px;
      }
    }
  }
}

.lmt-layer-storeloca {
  &_block {
    padding: 0 15px 15px 15px;
    text-align: center;
    a.btn-sodexo {
      padding-left: 20px;
      padding-right: 20px;
      margin-top: 15px;
    }
  }
}

.lmt-webcallback {
  display: none;
  text-align: center;
  padding-bottom: 30px;
  a.btn-sodexo-red {
    color: #FFF;
    &:hover {
      color: #FFF;
    }
  }
}

#client-prospect {
  .lmt-webcallback {
    display: block;
  }
}

@include media-breakpoint-up(md-max) {

  #lead-management-tools {
    display: block;
  }

}
