.wsp-container{
	.wsp-section{
		margin-bottom: 50px;
		text-align: center;

		& > [class$="-title"]{
			font-weight: 600;
			font-size: 24px;
			margin-bottom: 16px;
			text-transform: uppercase;
		}
		ul{
			margin: 0;
			padding: 0;
		}
		li{
			display: block;

			& + li{
				margin-top: 10px;
			}
		}
		a{
			color: inherit;
			font-size: 22px;
		}
	}
}

@include media-breakpoint-up(md) {
	.wsp-container{
		columns: 2;
		column-gap: 30px;

		.wsp-section{
			-webkit-column-break-inside: avoid-column;
			page-break-inside: avoid-column;
			break-inside: avoid-column;
			text-align: left;
			display: table;

			& > [class$="-title"]{
				font-size: 20px;
				margin-bottom: 16px;
			}
			a{
				font-size: 16px;
			}
		}
	}
}

@include media-breakpoint-up(md-max) {
	.wsp-container{
		columns: 3;
	}
}
