// Block blocks de post
.block-posts-grid {
  padding: 60px 0;

  &.block-posts-grid-loginpage {
    padding: 60px 0;
    .sameheight {
      height: auto !important;
      margin-bottom: 30px;
    }
    .block-posts-grid {
      &_content {
        height: 100%;
        background-color: $soxo-grey;
        border-radius: 30px;
        box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, .33);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        align-items: center;
        &--item {
          background-color: transparent;
          box-shadow: none;
          display: flex;
          flex-direction: column;
          align-items: center;
          &_text {
            flex: 1;
            h3, p {
              text-align: center;
            }
          }
          &_cta-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
        &.block-posts-grid_image {

          padding: 0;
          border-radius: 30px;
          box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, .33);
          overflow: hidden;
          > a {
            display: block;
            height: 100%;
            width: 100%;
            position: relative;

          }
          .block-posts-grid_content--item {
            height: 100%;
          }
        }
      }

    }
  }

  &_image {
    min-height: 150px;

    & > div {
      height: calc(100% - 30px);
      left: 15px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: calc(100% - 30px);
    }
  }

  &_content {
    height: 100%;
    padding: 15px 0;
    display: flex;
    flex-direction: column;

    &--item {
      text-align: center;
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
      height: 100%;
      min-height: 150px;
      overflow: hidden;
      background-color: $soxo-grey;
      border-radius: 30px;
      box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, .33);

      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;

      &:hover,
      &:focus {
        text-decoration: none;
      }

      &_image {
        flex: 0 0 auto;
        width: 33%;
      }

      &_text {
        width: 66%;
        padding: 10px;
        flex: 1;
        h3 {
          //margin-top: 15px;
          font-size: 16px;
          color: $soxo-blue;
          text-transform: uppercase;
          font-weight: 600;
        }
        p {
          margin-bottom: 0;
          color: $soxo-blue-dark;
          font-size: 12px;
        }
      }
    }

  }

  &_post {
    .block-posts-grid_content--item_cta-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &.bpg {
      position: relative;
      &.hasCta {
        .block-posts-grid_content--item {
          padding-bottom: 45px;
        }
      }

      .callToAction {
        &-wrapper {
          position: absolute;
          width: 100%;
          display: flex;
          justify-content: center;
          bottom: 38px;
        }
      }
    }
  }
}

@include media-breakpoint-up(sm) {
  .block-posts-grid {
    &_image {
      min-height: 300px;
    }
    &_content {
      &--item {
        flex-direction: column;
        &_image {
          max-height: 250px;
          width: 100%;
        }
        &_text {
          padding: 30px 15px;
          width: 100%;
          h3 {
            font-size: 20px;
          }
          p {
            font-size: 14px;
          }
        }
      }
    }
  }

}

@include media-breakpoint-down(sm) {
  .block-posts-grid {
    &_post {
      &.bpg {
        position: relative;
        &.hasCta {
          .block-posts-grid_content--item {
            padding-bottom: 45px;
          }
        }
        .callToAction {
          &-wrapper {
            width: 66%;
            left: 33%;
          }
        }
      }
    }
  }
}

@include media-breakpoint-down(xs) {
  .block-posts-grid {
    &_post {
      &.bpg {
        position: relative;
        .callToAction {
          &-wrapper {
            width: 66%;
            left: 33%;
            bottom: 24px;
          }
        }
      }
    }
    &_content {
      &--item {
        &_image {
          margin-bottom: auto;
        }
      }
    }
  }
}

.block-has-image{
  cursor: pointer;
}

.block-has-no-image{
  cursor: default;
}
