.already-defined ul li {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    padding-left: 47px;
    padding-right: 41px;
    box-sizing: border-box;
}

#acf-group_5c599c8e01c6b .inside {
    position: relative;
}

#acf-group_5c599c8e01c6b .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, .7);
}

#acf-group_5c599c8e01c6b:not(.loading) .overlay {
    display: none;
}
