@charset "utf-8";
/* CSS Document */

/*
//Colors

$color-sodexo-main: #fece00;
$color-sodexo-red: #ed424a;
$color-sodexo-dark-red: #ce2a32;
$color-sodexo-green: #00FF00;
$color-sodexo-blue: #283896;
$color-sodexo-dark-blue: #2c2455;
$color-sodexo-light-grey: #eae6e3;
$color-sodexo-grey: #d8d3cf;
$color-sodexo-medium-grey: #58585a;
$color-sodexo-dark-grey: #4d4d4f;
$color-sodexo-beige: #f8f6f6;

$color-white: #FFF;
$color-black: #000;

$color-blue-soxo: #283897;

$color-amaranth: #ED424A;
$color-brick-red: #CE2A32;
$color-crimson: #e10f21;

$color-ebb: #EAE6E3;

*/



body {
  color: #4d4d4f;
  font-family: 'SansaPro', Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size:1.2em;
  
}

#page {
  padding-top: 10px;
}

#page #logo{
  padding: 10px 0;
  margin-left:10px;
}
.table-responsive {
	border-style: solid;
	border:1px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;   
    border-color: #ddd;
    border-width: 1px;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
	margin:20px;
	padding:20px;
}
#title {margin-left:20px;}
#infos {border :1px solid #ddd;}
#results {border :1px solid #ddd;}
#economy {border :1px solid #ddd;}
#advantage {margin-left:23px; font-size:10px; color:grey;}

th.active {
	background: #f5f5f5 !important;
    background-color: #f5f5f5 !important;
}
td.info {
	background: #d9edf7  !important;
    background-color: #d9edf7  !important;
}
 
/* Sodexo : SansaPro web fonts */



@font-face {
  font-family: 'SansaPro';
  src: /* url('../fonts/SansaPro-Light/SansaPro-Light.eot?#iefix') format('embedded-opentype'), */
       /* url('../fonts/SansaPro-Light/SansaPro-Light.otf')  format('opentype'), */
	     url('../fonts/SansaPro-Light/SansaPro-Light.woff') format('woff'),
       url('../fonts/SansaPro-Light/SansaPro-Light.ttf')  format('truetype');
       /* url('../fonts/SansaPro-Light/SansaPro-Light.svg#SansaPro-Light') format('svg'); */
  font-weight: 300;
  font-style: normal;
}


@font-face {
  font-family: 'SansaPro';
  src: /* url('../fonts/SansaPro-Normal/SansaPro-Normal.eot?#iefix') format('embedded-opentype'), */
       /* url('../fonts/SansaPro-Normal/SansaPro-Normal.otf')  format('opentype'), */
	     url('../fonts/SansaPro-Normal/SansaPro-Normal.woff') format('woff'),
       url('../fonts/SansaPro-Normal/SansaPro-Normal.ttf')  format('truetype');
       /* url('../fonts/SansaPro-Normal/SansaPro-Normal.svg#SansaPro-Normal') format('svg'); */
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: 'SansaPro';
  src: /*url('../fonts/SansaPro-SemiBold/SansaPro-SemiBold.eot?#iefix') format('embedded-opentype'), */
       /* url('../fonts/SansaPro-SemiBold/SansaPro-SemiBold.otf')  format('opentype'), */
	     url('../fonts/SansaPro-SemiBold/SansaPro-SemiBold.woff') format('woff'),
       url('../fonts/SansaPro-SemiBold/SansaPro-SemiBold.ttf')  format('truetype');
       /* url('../fonts/SansaPro-SemiBold/SansaPro-SemiBold.svg#SansaPro-SemiBold') format('svg'); */
  font-weight: 600;
  font-style: normal;
}


@font-face {
  font-family: 'SansaPro';
  src:  /*url('../fonts/SansaPro-Bold/SansaPro-Bold.eot?#iefix') format('embedded-opentype'),*/
       /* url('../fonts/SansaPro-Bold/SansaPro-Bold.otf')  format('opentype'),*/
	     url('../fonts/SansaPro-Bold/SansaPro-Bold.woff') format('woff'),
       url('../fonts/SansaPro-Bold/SansaPro-Bold.ttf')  format('truetype');
       /* url('../fonts/SansaPro-Bold/SansaPro-Bold.svg#SansaPro-Bold') format('svg');*/
  font-weight: 700;
  font-style: normal;
}


@font-face {
  font-family: 'soxo-icons';
  src: url('../fonts/soxo/soxo-icons.eot?8244165');
  src: url('../fonts/soxo/soxo-icons.eot?8244165#iefix') format('embedded-opentype'),
       url('../fonts/soxo/soxo-icons.woff2?8244165') format('woff2'),
       url('../fonts/soxo/soxo-icons.woff?8244165') format('woff'),
       url('../fonts/soxo/soxo-icons.ttf?8244165') format('truetype'),
       url('../fonts/soxo/soxo-icons.svg?8244165#soxo-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'soxo-icons';
    src: url('../font/soxo-icons.svg?19774009#soxo-icons') format('svg');
  }
}
*/

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "soxo-icons";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-lg:before {
  font-size : 45px;
}



.icon-meal:before { content: '\e800'; } /* '' */
.icon-heart:before { content: '\e801'; } /* '' */
.icon-gift:before { content: '\e802'; } /* '' */
.icon-handshake:before { content: '\e803'; } /* '' */
.icon-localisation:before { content: '\e804'; } /* '' */
.icon-square:before { content: '\e805'; } /* '' */
.icon-search-2:before { content: '\e806'; } /* '' */
.icon-phone:before { content: '\e807'; } /* '' */
.icon-messages:before { content: '\e808'; } /* '' */
.icon-calc:before { content: '\e809'; } /* '' */
.icon-shopping:before { content: '\e80a'; } /* '' */
.icon-play:before { content: '\e80b'; } /* '' */
.icon-touch:before { content: '\e80c'; } /* '' */
.icon-user:before { content: '\e80d'; } /* '' */
.icon-envelope-open:before { content: '\e80e'; } /* '' */
.icon-devices:before { content: '\e80f'; } /* '' */
.icon-business-man:before { content: '\e810'; } /* '' */
.icon-people:before { content: '\e811'; } /* '' */
.icon-building:before { content: '\e812'; } /* '' */
.icon-city-hall:before { content: '\e813'; } /* '' */
.icon-person:before { content: '\e814'; } /* '' */
.icon-close:before { content: '\e815'; } /* '' */
.icon-check:before { content: '\e816'; } /* '' */
.icon-download:before { content: '\e817'; } /* '' */
.icon-icon-target:before { content: '\e818'; } /* '' */
.icon-question:before { content: '\e819'; } /* '' */
.icon-envelop:before { content: '\e81a'; } /* '' */
.icon-arrow-next:before { content: '\e81b'; } /* '' */
.icon-arrow-down:before { content: '\e81c'; } /* '' */
.icon-arrow-right:before { content: '\e81d'; } /* '' */
.icon-search:before { content: '\e81e'; } /* '' */
.icon-arrow-previous:before { content: '\e822'; } /* '' */
.icon-arrow-up:before { content: '\e823'; } /* '' */
.icon-arrow-left:before { content: '\e824'; } /* '' */
.icon-offers:before { content: '\e825'; } /* '' */

