.bloc-link {
    width: 100%;

    &_container {
      padding: 40px;
      overflow: hidden;
      background-color: $color-sodexo-grey;
      text-align: center;
      border-radius: 30px;
      box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.33);

      &--image {
        display: block;
        width: 68px;
        margin: 0 auto;
      }

      &--cta {
        margin-top: 15px;
      }

    }
}

@include media-breakpoint-up(lg-max) {
    .choose-sodexo {
        &--container {
            padding: 20px 40px 40px;
        }
    }

}
